body{
  position: relative;
}
main {
   display: flex;
   max-width: 1100px;
   margin: auto;
   gap: 50px;
   padding-left: 20px;
}

.cart-ctn{
  flex: 1;
}
.cart-ctn h2{
  margin-top: 20px;
}

input:not([type="radio"]):focus{
  outline: 1px solid rgb(184, 184, 184);
}

table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 20px;
}
table th{
  font-size: 19px;
  font-weight: 500;
  color: #333
}
table .product-img{
  height: 90px;
  width: 150px;
  object-fit: contain;
}
table th:not(:last-child), table td:not(:last-child) {
  padding-right: 20px;
}
table th:last-child{
  max-width: 200px;
}
table .total {
  font-weight: 500;
}
.product-name{
  font-weight: 500;
}
.product-controls{
  display: inline-flex;
}
.quantity-input{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 50px;
  height: 30px;
  border: none;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.quantity-input:focus{
  outline: none;
   border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
.quantity-remove,
.quantity-add{
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 2px;
  transition: all .3s ease-in-out;
}
.quantity-remove:hover,
.quantity-add:hover{
  background-color: #d2d2d2;
}
.details-ctn{
  width: 290px;
  padding: 20px;
  gap: 20px;
}
.details-ctn,
.details-ctn div{
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
.details-ctn > div{
  gap: 20px;
}
.details-ctn > div > div{
  gap: 10px;
}
.details-ctn label.radio{
  display: flex;
  align-items: center;
}
.details-ctn label input {
  margin-right: 10px;
  height: 32px;
  padding-left: 10px;
}
input:not([type="radio"]).error{
  outline: 2px solid #fa8787;
}
.shipping-input > input {
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
}
.cart-ctn p,
.details-ctn p {
  margin-bottom: 0
}
h2{
  margin: 0;
}
h3{
  font-size: 19px;
  font-weight: 500;
  margin: 0;
}
#pay {
  width: 100%;
  height: 40px;
  background-color: #3483fa;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: all .3s ease-in-out;
  border: none;
  cursor: pointer;
}
#pay:hover{
  background-color: #2968c8;
}

.delete-btn{
  outline: none;
  border: 1px solid #f44336;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #f44336;
}
.delete-btn > svg {
  height: 27px;
}
.delete-btn:hover{
  outline: 1px solid #f44336;
}

.queria-usar-la-clase-modal-pero-bootstrap-me-lo-esconde-hernan{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  height: 100vh;
  width: 100vw;
  background-color:#00000024;
}
.queria-usar-la-clase-modal-pero-bootstrap-me-lo-esconde-hernan.hidden{
  display: none;
}
.pay-modal{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
}
.pay-modal h2{
  font-size: 25px;
  font-weight: 500;
}
.pay-modal .payment-method{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}
.pay-modal > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pay-modal > div label p{
  margin-bottom: 10px;
}

.pay-modal input:not([type="radio"]){
  border-radius: 5px;
  height: 32px;
  width: 200px;
  padding: 0 10px;
  border: 1px solid rgb(184, 184, 184);
}

.pay-modal > div > div{
  display: flex;
  gap: 15px;
}

#payment__card-cvv{
  width: 110px;
}

.pay-modal button{
  height: 44px;
  background-color: #3483fa;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  transition: all .3s ease-in-out;
  border: none;
  cursor: pointer;
}
.pay-modal button:hover{
  background-color: #2968c8;
}

.payment-successful-message{
  position: fixed;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #d0f7d0;
  color: #5db45d;
  padding: 10px 20px;
  top: 50px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  border: 1px solid #c6e3c7;
  transition: all 1s ease-in-out;
  opacity: 0;
}
.payment-successful-message > p{
  margin: 0;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  main{
    flex-direction: column;
  }
  main{
    padding: 0 20px;
  }
  .details-ctn {
    width: 100%;
  }
  .details-ctn div div:first-child label{
    height: 52px;
    display: flex;
    align-items: center;
  }
  .details-ctn > div{
    flex-direction: row;
    justify-content: space-between;
  }
  .details-ctn > div > div{
    flex: 1;
  }
  #pay{
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .details-ctn > div{
    flex-direction: column;
  }
}
